<div class="container">
  <h2>RESTAURANTS::RESERVATION#EDIT</h2>
  <p>Find me in app/views/restaurants/reservations/show.html.erb</p>
  <hr>
  <p> <%= current_restaurant.email %></p>
  <p> Reservation ID: <%= @reservation.id %></p>

  <%= simple_form_for(edit_restaurants_reservation_pat) do |f| %>
      <%= f.input :status%>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>

</div>
