<div class="container">
  <h1>Restaurants::Reservations#index</h1>
  <p>Find me in app/views/restaurants/reservations/index.html.erb</p>

  <%= link_to "Change Password", edit_restaurant_registration_path, class: "btn btn-primary" %>
  <%= link_to "Edit Profile", edit_restaurants_profile_path(current_restaurant), class: "btn btn-warning" %>
  <%= link_to "History", restaurants_reservations_path, class: "btn btn-danger" %>
  <%= link_to "Chefs", restaurants_chefs_path, class: "btn btn-info" %>
  <%= link_to "Menus", restaurants_menus_path, class: "btn btn-success" %>
  <%= link_to "Review", restaurants_reviews_path, class: "btn btn-primary" %>
  <%= link_to "Image Manager", restaurants_images_path, class: "btn btn-warning" %>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <p>Pending</p>
        <% @reservations.each do |reservation| %>
          <% if reservation.status == "pending" %>
            <p> <%= reservation.time %>
                time: <%= reservation.time %>
                seats: <%= reservation.seats %>
                name: <%= reservation.customer.name %>
                request: (<%= reservation.request %>) </p>
            <p> <%= link_to reservation, restaurants_reservation_path(reservation) %> </p>
          <% end %>
        <% end %>
      </div>

      <hr>

      <div class="card">
        <p>Confirmed (in latest 7 days, if I could make it on time...) </p>
        <% @reservations.each do |reservation| %>
          <% if reservation.status == "confirmed" %>
            <%= reservation.time %>
            <p> <%= link_to reservation, restaurants_reservation_path(reservation) %>
          <% end %> </p>
        <% end %>
      </div>
    </div>
  </div>

  <br>
</div>


