<div class="container">
  <div class="wrapper-white">
    <h2>RESTAURANTS::RESERVATION#SHOW</h2>

    <%= @reservation %>
    <hr>
    <div class="">
      <p> Customer Name: <%= @customer.name %> </p>
      <p> Customer ID: <%= @reservation.customer_id %> </p>
      <p> Restaurant ID: <%= @reservation.restaurant_id %> </p>
      <p> Time: <%= @reservation.time %> </p>
      <p> Status: <%= @reservation.status %> </p>
      <p> Seats: <%= @reservation.seats %> </p>
      <p> Request: <%= @reservation.request %> </p>
      <% if @reservation.status =="pending" %>
        <%= link_to "Confirm", confirm_restaurants_reservation_path(@reservation), class: "btn btn-primary", method: :put %>
        <%= link_to "Decline", decline_restaurants_reservation_path(@reservation), class: "btn btn-success", method: :put %>
      <% end %>
      <hr>
    </div>
    <br>
    <%= link_to "Back", root_path, class: "btn btn-orange" %>
  </div>
  <br> <br>
</div>
