<div class="white-wrapper">
  <div class="container">
    <h1>This is the Restaurant Show Page, it shows one individualt Restaurant</h1>
    <div class="row">
      <ul>
        <li><%= @restaurant.name %></li>
        <li><%= @restaurant.opening_hours %></li>
        <li><%= @restaurant.cuisine %></li>
        <li><%= @restaurant.category %></li>
        <li><%= @restaurant.dresscode %></li>
        <li><%= @restaurant.cuisine %></li>
        <li><%= @restaurant.email %></li>
        <li><%= @restaurant.tel %></li>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.city %></li>
        <li><%= @restaurant.country %></li>
      </ul>

      <% @restaurant.reviews.each do |review| %>
      <div class="card">
      <%= review.comment %>
      </div>
      <div class="rating">
      <%= review.rating %>
      </div>
      <% end %>

      <%= cl_image_tag @restaurant.picture, class: "img-tag-card" %>

      <%= simple_form_for customers_reservations_path, html: {class: "datepicker-form"}, method: "post" do |f| %>
            <%= f.input :time, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :seats, as: :integer, required: true %>
            <%= f.input :request, as: :integer, required: false %>
            <%= f.button :submit, "Reserve", class: "btn btn-treehouse btn-equipment-reserve" %>
      <% end %>

    <div>
    <%= link_to "Reserve now", restaurants_reviews_path, class: "btn btn-primary" %>
    </div>

    </div>
    <%= link_to "Back", root_path %>
    <%= render "shared/map" %>
  </div>
</div>


