<div class="white-wrapper">
  <div class="container">
    <h1>This is the Restaurant Show Page, it shows one individualt Restaurant</h1>
    <div class="row">
      <ul>
        <li><%= @restaurant.name %></li>
        <li><%= @restaurant.opening_hours %></li>
        <li><%= @restaurant.cuisine %></li>
        <li><%= @restaurant.category %></li>
        <li><%= @restaurant.dresscode %></li>
        <li><%= @restaurant.cuisine %></li>
        <li><%= @restaurant.email %></li>
        <li><%= @restaurant.tel %></li>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.city %></li>
        <li><%= @restaurant.country %></li>
      </ul>
      <%= cl_image_tag @restaurant.pictures.first, class: "img-tag-card" %>
    </div>
    <%= link_to "Back", root_path, class: 'card-link' %>
    <%= render "shared/map" %>
  </div>
</div>


