<div class="container">
  <div class="wrapper-white">
  <h1>Chefs Manager</h1>
  <hr>

  <% @chefs.each do |chef|  %>
    <div class="card-chef">
      <p> <%= chef.name %> <%= link_to "Edit", edit_restaurants_chef_path(chef), class: "btn btn-primary" %> <%= link_to "Delete", restaurants_chef_path(chef), method: :delete, class: "btn btn-danger"  %></p>
      <p> <%= chef.profile %> </p>

    </div>
  <% end %>
  <hr>
  <%= link_to "Back", root_path, class: "btn btn-orange" %>

  </div>
  <br> <br>
</div>
