<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <% if restaurant.picture_url %>
            <%= image_tag restaurant.picture_url, class: "img-tag-card" %>
          <% end %>
          <div class="card-category"><%= restaurant.category %></div>
          <div class="card-name"><h2><%= restaurant.name %></h2></div>
          <div class="card-address">
            <p><%= restaurant.address %></p>
            <p><%= restaurant.city %></p>
          </div>
          <%= link_to "Details", customers_restaurant_path(restaurant), class: 'card-link' %>
        </div>
        <br>

      <% end %>
    </div>
  </div>
</div>
