  <div class="white-wrapper">
    <div class="container">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
        <div class="col-xs-12  col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

            <div class="card-category"><%= restaurant.category %></div>
            <div class="card-description">
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.street %></p>
              <p><%= restaurant.city %></p>
            </div>
            <%= link_to "Link to Show", customers_restaurant_path(restaurant), class: 'card-link' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


