<div class="container">
  <h1>Reservatino#home</h1>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/search/photos/restaurants');">

    <div class="banner-content">
      <h1>Book a table for every occasion</h1>
      <p><span id="banner-typed-text"></span></p>
    </div>

    <div class="banner-search">
      <!-- <div class="form-wrapper"> -->
       <%= simple_form_for :search, method: "get", html: { class: "form-inline"} do |f| %>
       <%= f.input :starts_at, as: :string, required: false, label: false, placeholder: "12 March...", input_html: {class: "datepicker"} %>
       <%= f.input :city, as: :string, required: false, label: false, placeholder: "Berlin..." %>
       <%= f.button :submit, "Go", class: "btn btn-primary" %>
       <% end %>
     </div>

   </div>
    <%= render "shared/card" %>
    <%= render "shared/map" %>


