<div class="container">
  <h2>Edit Profile with simple_form</h2>
  <%= simple_form_for(@restaurant, url: restaurants_profile_path(@restaurant)) do |f| %>
      <%= f.input :category%>
      <%= f.input :dresscode%>
      <%= f.input :opening_hours%>
      <%= f.input :style%>
      <%= f.input :cuisine%>
      <%= f.input :tel%>
      <%= f.input :city%>
      <%= f.input :street%>
      <%= f.input :zipcode%>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
</div>
<br>

</div>
